<!DOCTYPE html>
<html lang ='en'>
<head>
    <meta charset="UTF-8">
    <title>chat </title>
    <script src="/static/js/libs/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    <script src ="/static/js/libs/bootstrap.js"></script>
    <script src="/static/js/chat.js"></script>
</head>
<body>
    <button type="button" class="btn btn-warning" onclick="sendMessage()">Warning</button>
    <a href="/logout">Logout</a>
    <table width="100%" border="1px">
        <tr>
        <td width="30%">
            <div id="current">
            <label id="current_username"></label>
                <button type="button" class="btn btn-primary" onclick= "get_all_users()">Get users</button>
            </div>
            <div onclick="get_all_users()"></div>
        </td>

        <td width="70%">
            <div id="boxMessage">
            </div>

            <div>
                <input type="text" size="200" id="txtMessage">
            </div>

            <div>
                <button type="button" class="btn btn-primary" onclick="mandarMensaje()">Send</button>
            </div>
        </td>
        </tr>
    </table>


</body>




</html>