<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Plataform-Based Development
        </div>
        <img src="/static/images/cs.png"/>
        <div class="alert alert-primary" role="alert">
            201810049 --- Carlos Antonio Merma Silva
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="/static/message.html">Mensajes</a>
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="/static/users.html">Users</a>
        </div>
           <div class="alert alert-primary" role="alert">
            <a href="/static/login.html">Login</a>
        </div>
           <div class="alert alert-primary" role="alert">
            <a href="/static/chat.html">Chat</a>
        </div>
        <br/>
    </div>
</body>
</html>
