
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/libs/jquery.js" ></script>
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.js" ></script>
    <script src="/static/js/login.js" ></script>
    <title>CHAT WEB > LOGIN</title>
</head>
<body>
<table>
    <tr>
        <td>Username</td>
        <td><input type="text" id="username" name="usename"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" id="password" name="password"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-primary" onclick="login()" >Login</button>
        </td>
    </tr>
</table>
</body>
</html>